body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

.sketchfab-wrapper {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none; /* שלא תפריע ללחיצות */
}

canvas#three-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}
